<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lms.mapper.CouponsMapper">

    <resultMap id="BaseResultMap" type="org.lms.entity.Coupons">
            <id property="id" column="id" />
            <result property="code" column="code" />
            <result property="description" column="description" />
            <result property="discountType" column="discount_type" />
            <result property="discountValue" column="discount_value" />
            <result property="maxDiscountAmount" column="max_discount_amount" />
            <result property="minPurchaseAmount" column="min_purchase_amount" />
            <result property="usageLimit" column="usage_limit" />
            <result property="usedCount" column="used_count" />
            <result property="validFrom" column="valid_from" />
            <result property="validUntil" column="valid_until" />
            <result property="isActive" column="is_active" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,code,description,discount_type,discount_value,max_discount_amount,
        min_purchase_amount,usage_limit,used_count,valid_from,valid_until,
        is_active,created_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from coupons
        where  id = #{id} 
    </select>
    <select id="findAll" resultType="org.lms.entity.Coupons">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM coupons
        <where>
            <if test="code!=null and code!=''">
                and code = #{code}
            </if>
            <if test="discountType!=null">
                and discount_type = #{discountType}
            </if>
            <if test="discountValue!=null">
                and discount_value &lt; #{discountValue}
            </if>
            <if test="maxDiscountAmount!=null">
                and max_discount_amount &lt;= #{maxDiscountAmount}
            </if>
            <if test="minPurchaseAmount!=null">
                and min_purchase_amount &gt;= #{minPurchaseAmount}
            </if>
            <if test="usageLimit!=null">
                and usage_limit = #{usageLimit}
            </if>
            <if test="usedCount!=null">
                and used_count = #{usedCount}
            </if>
            <if test="validFrom!=null">
                and valid_from &gt;= #{validFrom}
            </if>
            <if test="validUntil!=null">
                and valid_until &lt;= #{validUntil}
            </if>
            <if test="isActive!=null">
                and is_active = #{isActive}
            </if>
        </where>
    </select>
    <select id="searchByCouponsDto" resultType="org.lms.dto.CouponsDto">
        SELECT * FROM coupons
        <where>
            <if test="code != null">
                code = #{code}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="discountType != null">
                and discount_type = #{discountType}
            </if>
            <if test="discountValue != null">
                and discount_value = #{discountValue}
            </if>
            <if test="maxDiscountAmount != null">
                and max_discount_amount = #{maxDiscountAmount}
            </if>
            <if test="minPurchaseAmount != null">
                and min_purchase_amount = #{minPurchaseAmount}
            </if>
            <if test="usageLimit != null">
                and usage_limit = #{usageLimit}
            </if>
            <if test="usedCount != null">
                and used_count = #{usedCount}
            </if>
            <if test="validFrom != null">
                and valid_from = #{validFrom}
            </if>
            <if test="validUntil != null">
                and valid_until = #{validUntil}
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
            <if test="createdAt != null">
                and created_at = #{createdAt}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from coupons
        where  id = #{id} 
    </delete>
    <delete id="deleteBatch">
        DELETE FROM coupons
        WHERE id IN
        <foreach collection="ids" separator="," open="(" close=")" item="id">
            #{id}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lms.entity.Coupons" useGeneratedKeys="true">
        insert into coupons
        ( id,code,description,discount_type,discount_value,max_discount_amount,
        min_purchase_amount,usage_limit,used_count,valid_from,valid_until,
        is_active,created_at)
        values (#{id},#{code},#{description},#{discountType},#{discountValue},#{maxDiscountAmount},
        #{minPurchaseAmount},#{usageLimit},#{usedCount},#{validFrom},#{validUntil},
        #{isActive},#{createdAt})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.lms.entity.Coupons" useGeneratedKeys="true">
        insert into coupons
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="code != null">code,</if>
                <if test="description != null">description,</if>
                <if test="discountType != null">discount_type,</if>
                <if test="discountValue != null">discount_value,</if>
                <if test="maxDiscountAmount != null">max_discount_amount,</if>
                <if test="minPurchaseAmount != null">min_purchase_amount,</if>
                <if test="usageLimit != null">usage_limit,</if>
                <if test="usedCount != null">used_count,</if>
                <if test="validFrom != null">valid_from,</if>
                <if test="validUntil != null">valid_until,</if>
                <if test="isActive != null">is_active,</if>
                <if test="createdAt != null">created_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="code != null">#{code},</if>
                <if test="description != null">#{description},</if>
                <if test="discountType != null">#{discountType},</if>
                <if test="discountValue != null">#{discountValue},</if>
                <if test="maxDiscountAmount != null">#{maxDiscountAmount},</if>
                <if test="minPurchaseAmount != null">#{minPurchaseAmount},</if>
                <if test="usageLimit != null">#{usageLimit},</if>
                <if test="usedCount != null">#{usedCount},</if>
                <if test="validFrom != null">#{validFrom},</if>
                <if test="validUntil != null">#{validUntil},</if>
                <if test="isActive != null">#{isActive},</if>
                <if test="createdAt != null">#{createdAt},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.lms.entity.Coupons">
        update coupons
        <set>
                <if test="code != null">
                    code = #{code},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="discountType != null">
                    discount_type = #{discountType},
                </if>
                <if test="discountValue != null">
                    discount_value = #{discountValue},
                </if>
                <if test="maxDiscountAmount != null">
                    max_discount_amount = #{maxDiscountAmount},
                </if>
                <if test="minPurchaseAmount != null">
                    min_purchase_amount = #{minPurchaseAmount},
                </if>
                <if test="usageLimit != null">
                    usage_limit = #{usageLimit},
                </if>
                <if test="usedCount != null">
                    used_count = #{usedCount},
                </if>
                <if test="validFrom != null">
                    valid_from = #{validFrom},
                </if>
                <if test="validUntil != null">
                    valid_until = #{validUntil},
                </if>
                <if test="isActive != null">
                    is_active = #{isActive},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.lms.entity.Coupons">
        update coupons
        set 
            code =  #{code},
            description =  #{description},
            discount_type =  #{discountType},
            discount_value =  #{discountValue},
            max_discount_amount =  #{maxDiscountAmount},
            min_purchase_amount =  #{minPurchaseAmount},
            usage_limit =  #{usageLimit},
            used_count =  #{usedCount},
            valid_from =  #{validFrom},
            valid_until =  #{validUntil},
            is_active =  #{isActive},
            created_at =  #{createdAt}
        where   id = #{id} 
    </update>
</mapper>
