<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lms.mapper.CourseModulesMapper">

    <resultMap id="BaseResultMap" type="org.lms.entity.CourseModules">
            <id property="id" column="id" />
            <result property="courseId" column="course_id" />
            <result property="title" column="title" />
            <result property="description" column="description" />
            <result property="sortOrder" column="sort_order" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,title,description,sort_order,created_at,
        updated_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from course_modules
        where  id = #{id} 
    </select>
    <select id="list" resultType="org.lms.entity.CourseModules">
        SELECT
        <include refid="Base_Column_List"></include>
        from course_modules
        <where>
            course_id in
            <foreach collection="ids" item="," open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    <select id="findAll" resultType="org.lms.entity.CourseModules">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM course_modules
        <where>
            <if test="courseId!=null">
                and course_id = #{courseId}
            </if>
            <if test="title!=null and title!=''">
                and title = #{title}
            </if>
        </where>
        order by sort_order asc
    </select>
    <select id="search" resultType="org.lms.entity.CourseModules">
        select
        <include refid="Base_Column_List"></include>
        from course_modules
        <where>
            <if test="courseId != null">
                course_id = #{courseId}
            </if>
            <if test="title != null">
                and title = #{title}
            </if>
            <if test="description != null">
                and description = #{description}
            </if>
            <if test="sortOrder != null">
                and sort_order = #{sortOrder}
            </if>
            <if test="createdAt != null">
                and created_at = #{createdAt}
            </if>
            <if test="updatedAt != null">
                and updated_at = #{updatedAt}
            </if>
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from course_modules
        where  id = #{id} 
    </delete>
    <delete id="deleteBatch">
        delete from course_modules
        <where>
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lms.entity.CourseModules" useGeneratedKeys="true">
        insert into course_modules
        ( id,course_id,title,description,sort_order,created_at,
        updated_at)
        values (#{id},#{courseId},#{title},#{description},#{sortOrder},#{createdAt},
        #{updatedAt})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.lms.entity.CourseModules" useGeneratedKeys="true">
        insert into course_modules
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="courseId != null">course_id,</if>
                <if test="title != null">title,</if>
                <if test="description != null">description,</if>
                <if test="sortOrder != null">sort_order,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="courseId != null">#{courseId},</if>
                <if test="title != null">#{title},</if>
                <if test="description != null">#{description},</if>
                <if test="sortOrder != null">#{sortOrder},</if>
                <if test="createdAt != null">#{createdAt},</if>
                <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.lms.entity.CourseModules">
        update course_modules
        <set>
                <if test="courseId != null">
                    course_id = #{courseId},
                </if>
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="sortOrder != null">
                    sort_order = #{sortOrder},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.lms.entity.CourseModules">
        update course_modules
        set 
            course_id =  #{courseId},
            title =  #{title},
            description =  #{description},
            sort_order =  #{sortOrder},
            created_at =  #{createdAt},
            updated_at =  #{updatedAt}
        where   id = #{id} 
    </update>
</mapper>
