<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lms.mapper.UsersMapper">

    <resultMap id="BaseResultMap" type="org.lms.entity.Users">
            <id property="id" column="id" />
            <result property="uuid" column="uuid" />
            <result property="email" column="email" />
            <result property="password" column="password" />
            <result property="username" column="username" />
            <result property="avatarUrl" column="avatar_url" />
            <result property="phone" column="phone" />
            <result property="userType" column="user_type" />
            <result property="accountType" column="account_type" />
            <result property="emailVerified" column="email_verified" />
            <result property="isActive" column="is_active" />
            <result property="lastLoginAt" column="last_login_at" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,uuid,email,password,username,
        avatar_url,phone,user_type,account_type,email_verified,
        is_active,last_login_at,created_at,updated_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from users
        where  id = #{id} 
    </select>
    <select id="findByUsername" resultMap="BaseResultMap">
        select * from users where username = #{username}
    </select>
    <select id="queryAll" resultType="org.lms.entity.Users">
        SELECT
        <include refid="Base_Column_List"></include>
        from users
        <where>
            <if test="uuid!=null and uuid!=''">
                and uuid = #{uuid}
            </if>
            <if test="email!=null and email!=''">
                and email = #{email}
            </if>
            <if test="username!=null and username!=''">
                and username = #{username}
            </if>
            <if test="phone!=null and phone!=''">
                and phone = #{phone}
            </if>
        </where>
    </select>
    <select id="queryList" resultType="org.lms.entity.Users">
        SELECT * FROM users WHERE id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from users
        where  id = #{id} 
    </delete>
    <delete id="removeByList">
        delete from users WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.lms.entity.Users" useGeneratedKeys="true">
        insert into users
        ( uuid,email,password,username,
        avatar_url,phone,user_type,account_type,email_verified,
        is_active,last_login_at,created_at,updated_at)
        values (#{uuid},#{email},#{password},#{username},
        #{avatarUrl},#{phone},#{userType},#{accountType},#{emailVerified},
        #{isActive},#{lastLoginAt},#{createdAt},#{updatedAt})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.lms.entity.Users" useGeneratedKeys="true">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="uuid != null">uuid,</if>
                <if test="email != null">email,</if>
                <if test="password != null">password,</if>
                <if test="username != null">username,</if>
                <if test="avatarUrl != null">avatar_url,</if>
                <if test="phone != null">phone,</if>
                <if test="userType != null">user_type,</if>
                <if test="accountType != null">account_type,</if>
                <if test="emailVerified != null">email_verified,</if>
                <if test="isActive != null">is_active,</if>
                <if test="lastLoginAt != null">last_login_at,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="uuid != null">#{uuid},</if>
                <if test="email != null">#{email},</if>
                <if test="password != null">#{password},</if>
                <if test="username != null">#{username},</if>
                <if test="avatarUrl != null">#{avatarUrl},</if>
                <if test="phone != null">#{phone},</if>
                <if test="userType != null">#{userType},</if>
                <if test="accountType != null">#{accountType},</if>
                <if test="emailVerified != null">#{emailVerified},</if>
                <if test="isActive != null">#{isActive},</if>
                <if test="lastLoginAt != null">#{lastLoginAt},</if>
                <if test="createdAt != null">#{createdAt},</if>
                <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.lms.entity.Users">
        update users
        <set>
                <if test="uuid != null">
                    uuid = #{uuid},
                </if>
                <if test="email != null">
                    email = #{email},
                </if>
                <if test="password != null">
                    password = #{password},
                </if>
                <if test="username != null">
                    username = #{username},
                </if>
                <if test="avatarUrl != null">
                    avatar_url = #{avatarUrl},
                </if>
                <if test="phone != null">
                    phone = #{phone},
                </if>
                <if test="userType != null">
                    user_type = #{userType},
                </if>
                <if test="accountType != null">
                    account_type = #{accountType},
                </if>
                <if test="emailVerified != null">
                    email_verified = #{emailVerified},
                </if>
                <if test="isActive != null">
                    is_active = #{isActive},
                </if>
                <if test="lastLoginAt != null">
                    last_login_at = #{lastLoginAt},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.lms.entity.Users">
        update users
        set 
            uuid =  #{uuid},
            email =  #{email},
            password =  #{password},
            username =  #{username},
            avatar_url =  #{avatarUrl},
            phone =  #{phone},
            user_type =  #{userType},
            account_type =  #{accountType},
            email_verified =  #{emailVerified},
            is_active =  #{isActive},
            last_login_at =  #{lastLoginAt},
            created_at =  #{createdAt},
            updated_at =  #{updatedAt}
        where   id = #{id} 
    </update>
</mapper>
